<!-- <div class="container-fluid">

    <hr class="bg-primary rounded" style="width: 80%; height: 5px;">
</div> -->
<div class="container mt-5 d-flex flex-column align-items-center">
    <h3>FOLLOW US ON</h3>
    <div class="mt-3">
        <div class="" style="height: 24px;">
            <a style="width: 230px;" href="https://instagram.com/dharohar_pantnagar" target="_blank" type="button"
                class="btn btn-outline-primary font-weight-bold d-flex justify-content-around">
                <span>
                    <img style="height: 24px;" src="/svg/instagram.svg" alt="">
                </span>
                dharohar_pantnagar
            </a>
        </div>
        <div class="mt-5" style="height: 24px;">
            <a style="width: 230px;" href="https://fb.com/dharoharpantnagar" target="_blank" type="button"
                class="btn btn-outline-primary font-weight-bold d-flex justify-content-around"><span><img
                        style="height: 24px;" src="/svg/facebook.svg" alt=""></span>
                dharoharpantnagar
            </a>
        </div>
    </div>
</div>
<div class="container mt-5 d-flex flex-column align-items-center">
    <h3>VISIT OUR WEBSITE</h3>
    <a target="_blank" class="btn btn-outline-primary font-weight-bold" style="width: 230px;"
        href="https://spicmacaypantnagar.com">spicmacaypantnagar.com</a>
</div>